@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#site_jumbotron {
    .myfont {
        font-size: 70px;
    }

    .myfont1 {
        font-size: 21px;
    }

    .mypositionleft {
        top: 50%;
        left: 1%;
        cursor: pointer;
    }

    .mypositionright {
        top: 50%;
        right: 1%;
        cursor: pointer;
    }


}

#car_search {
    .mywidth {
        width: 170px;
        height: 50px;
        cursor: pointer;
    }

    .myfont {
        font-size: 11px;
    }

}

#wanttobuy {
    .myfont {
        font-size: 35px;
    }

    .circle {
        width: 200px;
        height: 200px;
        border: 1px solid white;
        border-radius: 50%;
    }

    .mypositionfirst {
        top: 8%;
    }

    .mypositionsecond {
        top: 65%;
        right: 0;
    }
}