@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#site_jumbotron {
    .myfont {
        font-size: 70px;
    }

    .myfont1 {
        font-size: 21px;
    }

    .mypositionleft {
        top: 50%;
        left: 1%;
        cursor: pointer;
    }

    .mypositionright {
        top: 50%;
        right: 1%;
        cursor: pointer;
    }

    .mod_img {
        height: 900px;
        width: 100%;
        object-fit: cover;
    }

    .myposition {
        top: 0%;
        left: 20%
    }

}

#car_search {
    .mywidth {
        width: 170px;
        height: 50px;
        cursor: pointer;
    }

    .myfont {
        font-size: 11px;
    }

}

#wanttobuy {
    .myfont {
        font-size: 35px;
    }

    .circle {
        width: 200px;
        height: 200px;
        border: 1px solid white;
        border-radius: 50%;
    }

    .mypositionfirst {
        top: 8%;
    }

    .mypositionsecond {
        top: 65%;
        right: 0;
    }
}

#customer {
    .myposition {
        top: 14%;
        transform: rotate(190deg);
        color: rgba(237, 235, 246, 1);
    }

    .mywidthfirst {
        background-color: black;
        width: 13%;
        border-radius: 10px;
        height: 8px;
        cursor: pointer;
    }

    .mywidthsecond {
        background-color: #c1c1c1;
        width: 5%;
        border-radius: 10px;
        height: 8px;
        cursor: pointer;
    }

}

#resentarticle {
    .circle {
        width: 100px;
        height: 100px;
        border: 1px solid white;
        border-radius: 50%;
    }

    .circlesecond {
        width: 80px;
        height: 80px;
        border: 1px solid white;
        border-radius: 50%;
    }

    .myposition {
        margin-left: 8px;

    }
}

#footer {
    background-color: black;

    .mywidth {
        background-color: white;
        width: 7%;
        border-radius: 10px;
        height: 3px;
        cursor: pointer;
        display: block;
    }
}